
@use '../../styles/_vars';

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: vars.$lightgrey;
  padding: 0.5rem;
  border-top: 1px solid vars.$blue;

  &__icon {
    font-size: 2rem;
    color:  vars.$blue;
  }
}

// BreakPoint pour la mise en forme de la version desktop

@media screen and (min-width: 1000px) {
  .nav {
    
    height: 3rem;
    width: 20rem;
    margin: 0.5rem auto;
    // flex-direction: column;
    border-radius: 1rem;
    border: 1px solid vars.$blue;
  }
}
